/**
 * Site header
 */
.banner {
  width: 100%;
  background: url('/assets/tai2.jpg') 50%35% no-repeat;
  background-size: cover;
  margin-bottom: $spacing-unit;
  margin-top: -$spacing-unit * 1.865;
}
.site-header {
  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
  background: rgba(0,0,0,0);
  transition: all 0.1s linear;
  
  &:hover {
    background: #fff;
  }
  &:hover  a {
    color: #000;
  }
}

.site-title {
  @include relative-font-size(2);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #fff;
  font-family: $title-font-family;

  &,
  &:visited {
    color: #fff;
  }
  &:hover {
    text-decoration: none;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  display: flex;

  .trigger {
    margin-left: 10px;
  }

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;
    font-weight: bold;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:hover {
      font-weight: bold;
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  // padding: $spacing-unit 0;
  margin-bottom: $spacing-unit;
  flex: 1;
  width: 100%;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(2);
  font-family: $title-font-family;
}

// home 화면이 800px이하일때
@include media-query($content-width) {
  .banner {
    height: 200px;
  }
  .post-list-header {
    display: none;
  }

  .post-list {
    margin-left: 0;
    list-style: none;

    & > li {
      margin-bottom: $spacing-unit;
      border: 1px solid #ddd;
      padding: 15px;
         
      .post-idx {
        display: none;
      }
    }
  }
  
  .category {
    list-style: none;
    display: block;
    margin: 0;

    .category-item {
      margin-bottom: 20px;
      width: calc(100% - 32px);
      display: flex;
      float: left;
      flex-direction: column;
      border: 1px solid #ddd;
      padding: 15px;
      margin-right: 20px;

      h2 {
        font-weight: bold;
        margin-bottom: 5px;
      }

      li {
        line-height: 30px;
        margin-left: 10px;

        a {
          color: #000;

          &:hover {
            color: rgb(253,170,0);
            text-decoration: none;
          }
        }

        &:before{
          content: '';
          display: inline-block;
          height: 15px;
          width: 15px;
          background-image: url('/assets/post_icon.png'); 
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

// home 화면이 800px이상일때
@media screen and (min-width: 800px) {
  .banner {
    height: 400px;
  }
  .post-list-header {
    margin: 0;
    list-style: none;
    background-color: #000;
    color: #fff;

    & > li {
      height: 45px;
      display: flex;
      justify-content: space-between;
    }
    
    .post-idx,
    .post-category-type,
    .post-list-title,
    .post-meta {
      display: flex;    
      align-items: center;
      justify-content: center;
      font-size: 18px;
    }
    
    .post-idx {
      width: 5%;
    }
    .post-category-type {
      width: 20%;
    }
    .post-list-title {
      width: 50%;
      margin: 0;
    }
    .post-meta {
      width: 20%;
      color: #fff;

      .post-link {
        font-size: 18px;
      }
    }
  }

  .post-list {
    margin-left: 0;
    list-style: none;
    border-bottom: 1px solid #000;

    & > li {
      /* margin-bottom: $spacing-unit;
      border: 1px solid #ddd;
      padding: 15px;*/
      height: 45px;
      display: flex;
      justify-content: space-between;

      &:hover {
        background-color: #ddd;
      }

      .post-idx,
      .post-category-type,
      .post-list-title,
      .post-meta {
        display: flex;    
        align-items: center;
        justify-content: center;
        font-size: 18px;
      }
      
      .post-idx {
        width: 5%;
      }
      .post-category-type {
        width: 20%;
      }
      .post-list-title {
        width: 50%;
        margin: 0;

        .post-link {
          font-size: 18px;
        }
      }
      .post-meta {
        width: 20%;
      }
    }
  }
  
  .category {
    list-style: none;
    display: block;
    margin: 0;

    .category-item {
      margin-bottom: 20px;
      width: calc(30% - 32px);
      display: flex;
      float: left;
      flex-direction: column;
      height: 200px;
      border: 1px solid #ddd;
      padding: 15px;
      margin-right: 20px;

      h2 {
        font-weight: bold;
        margin-bottom: 5px;
      }

      li {
        line-height: 30px;
        margin-left: 10px;

        a {
          color: #000;

          &:hover {
            color: rgb(253,170,0);
            text-decoration: none;
          }
        }

        &:before{
          content: '';
          display: inline-block;
          height: 15px;
          width: 15px;
          background-image: url('/assets/post_icon.png'); 
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  color: black;
  &:visited {
    text-decoration: none;
    color: black;
  }
  &:hover {
    text-decoration: none;
    color: orange;
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  font-family: $title-font-family;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  // h2 {
  //   @include relative-font-size(2);

  //   @include media-query($on-laptop) {
  //     @include relative-font-size(1.75);
  //   }
  // }

  // h3 {
  //   @include relative-font-size(1.625);

  //   @include media-query($on-laptop) {
  //     @include relative-font-size(1.375);
  //   }
  // }

  // h4 {
  //   @include relative-font-size(1.25);

  //   @include media-query($on-laptop) {
  //     @include relative-font-size(1.125);
  //   }
  // }
}